<h1>dashboard</h1>
<div class="card">
    <div class="card-head">Lorem ipsum - dashboard</div>
    <div class="card-body">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore voluptate labore consectetur vel quisquam delectus, alias dolorum deserunt nobis iure vitae eveniet, dolores quibusdam et molestiae aliquam natus excepturi cupiditate?
        Veniam hic quia illo corporis, sit repudiandae omnis recusandae ipsa laboriosam dolorum sequi, expedita inventore? Doloremque culpa alias quo, totam ipsam ipsum cupiditate assumenda soluta excepturi consequatur eius dolorem aliquid?
        Omnis nulla vitae aut corrupti corporis dicta sapiente consequuntur tempora dolorum distinctio. Voluptatum, illum quia et, adipisci numquam officia cumque, at dolorum quisquam consequuntur esse! Ea quos iusto dicta quo!
        
    </div>
</div>
